.header {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 15px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: steelblue
}

.topnav a.active {
  background-color: steelblue;
}

.main {
  margin-top: 10px;
  text-align: center;
  color: #333;
  float: left;
  width: 74%;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding-bottom: 15px;
}

.sidebar {
  margin-top: 10px;
  text-align: center;
  color: white;
  float: right;
  width: 25%;
  background-color: #941919;
  border-radius: 15px;
  padding-bottom: 15px;
}

.sidebar a {
  text-align: center;
  display: block;
  color: white;
  padding: 14px 16px;

  text-decoration: none;
}

.sidebar a:hover {
  background-color: #333;
}


body {
    background-color: white;
}


